<!DOCTYPE html>
<html>
  <head>
    <title>OutPutIdea</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <%= link_to("OutPutIdea", "/") %>
      </div>
      <ul class="header-menus">
        <li>
          <%= link_to("マイページ", "/mypage") %>
        </li>
        <li>
          <%= link_to("投稿一覧", "/posts/index") %>
        </li>
        <li>
          <%= link_to("新規投稿", "/posts/new") %>
        </li>
      </ul>
    </header>
    <%= yield %>  <!-- この部分に各Viewファイルが代入され、このファイルの一部として表示されている -->
  </body>
</html>
