<!DOCTYPE html>
<html>
  <head>
    <title>OutPutIdea</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>  <!-- 各ページ共通のヘッダー -->
      <div class="header-logo">
        <a href="/">OutPutIdea</a>
      </div>
      <ul class="header-menus">
        <li>
          <a href="/detail">OutPutIdeaとは</a>
        </li>
      </ul>
    </header>
    <%= yield %>  <!-- この部分に各Viewファイルが代入され、このファイルの一部として表示されている -->
  </body>
</html>
